*{
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 15px;
    max-width: 960px;
    margin: 20px auto;
    background-image: url(https://media.istockphoto.com/photos/hacker-working-with-laptop-at-table-closeup-cyber-attack-picture-id1339445445?k=20&m=1339445445&s=612x612&w=0&h=N4J82uI-1mdPA4XLjzisC97iMbMcMAcYEvM-yqY1RdI=);
    background-size: cover;
    background-repeat: no-repeat;
    background: radial-gradient(black, none);
    height: 100vh;
}

a{text-decoration: none; color: black;}

img{
    max-width: 100%;
}
ul#ejercicios,
ul.tags{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

}

ul#ejercicios > li{
    margin-top: 20px;
    width: 200px;
    border: grey 1px solid;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

ul#ejercicios > li:hover{
    
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
}

ul#ejercicios > li:hover a{
    
    color:black;
}

ul#ejercicios{
    gap: 6px;
}

ul.tags{
    margin-top: 20px;
    gap: 2px;
    justify-content: center;
}

ul.tags li{
    text-align: center;
    padding: 2px 8px;
    background: coral;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: bold;
}

ul#ejercicios li h3{
    margin-bottom: 20px;
}

footer{
    margin-top: 50px;
    text-align: center;
    color: grey;
}

ul#ejercicios >li img{
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul.tags li.html{
    background: rgba(251, 236, 221, 1);; 

}

ul.tags li.css{
    background:rgba(231, 243, 248, 1);; 
}

ul.tags li.js{
    background:rgba(251, 243, 219, 1); 
}

ul.tags li.figma{
    background:rgba(244, 240, 247, 0.8);; 
}

