*{
    margin: 0; padding: 0; border: 0; box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 15px;
    max-width: 960px;
    margin: 20px auto;
    
    height: 100vh;
}

header{
    background-image: url('../img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    border: grey 1px solid;
}

h1, header h2 {
    color: antiquewhite;
    margin: 10px;
}

main h2{
    margin: 20px auto;
    color: burlywood;
}
a{text-decoration: none; color: black;}

ul#ejercicios img{
    max-width: 100%;
    border-radius: 10px;
    border: solid 2px grey;
    
}

ul#ejercicios,
ul.tags{
    list-style: none;

    display: flex;
    flex-wrap: wrap;

}

ul#ejercicios > li{
    
    width: 200px;
    border: grey 3px solid;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}

ul#ejercicios > li:hover{
    
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
}

ul#ejercicios > li:hover a{
    
    color:black;
}

ul#ejercicios{
    gap: 6px;
}

ul.tags{
    margin-top: 20px;
    gap: 2px;
    justify-content: center;
}

ul.tags li{
    text-align: center;
    padding: 2px 8px;
    background: coral;
    border-radius: 9999px;
    font-size: 12px;
    font-weight: bold;
}

ul#ejercicios li h3{
    margin-bottom: 20px;
}

footer{
    margin-top: 50px;
    text-align: center;
    color: grey;
}

ul#ejercicios >li img{
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

ul.tags li.html{
    background: rgba(251, 236, 221, 1);; 

}

ul.tags li.css{
    background:rgba(231, 243, 248, 1);; 
}

ul.tags li.js{
    background:rgba(251, 243, 219, 1); 
}

ul.tags li.figma{
    background:rgba(244, 240, 247, 0.8);; 
}




ul#galeria.rejilla li { border-radius:20px !important; max-width:210px;}
ul#galeria.rejilla li img{display: block;max-width: 196px;}
ul#galeria.rejila:hover img{ border-radius:18px;}

/* list */
ul#galeria.lista > li{ width:100%; flex-direction: row; border-radius:6px;}
ul#galeria.lista > li a{display:flex;}
ul#galeria.lista img{ height: 36px;margin: 0 16px 0 0;border-radius: 4px;}
ul#galeria.lista >li:hover img{ margin-right:30px; transform:scale(1.18); }